.experience .responsive-heading {
  color: white;
  font-weight: 900;
  font-size: 30px;

  @media (max-width: 600px) {
    font-size: 40px;
  }

  @media (min-width: 600px) {
    font-size: 50px;
  }

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

.experience .responsive-sub-text,
.experience .card-title {
  color: white;
  font-weight: 700;
}

.experience .responsive-sub-text {
  font-size: 24px;
}

.experience .card-title {
  font-size: 32px;
  margin: 0;
}

.experience .card-subtitle {
  font-size: 22px;
  color: rgb(219, 218, 218);
  margin: 0;
}

.experience .card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
