.experience .responsive-heading {
  color: white;
  /* text-white */
  font-weight: 900;
  /* font-black */

  /* Base font size */
  font-size: 30px;
  /* text-[30px] */

  /* Responsive font sizes */
  @media (max-width: 600px) {
    /* xs:text-[40px] */
    font-size: 40px;
  }

  @media (min-width: 600px) {
    /* sm:text-[50px] */
    font-size: 50px;
  }

  @media (min-width: 768px) {
    /* md:text-[60px] */
    font-size: 60px;
  }
}

.experience .responsive-sub-text {
  font-size: 24px;
  color: white;
  font-weight: 700;
}

.experience .card-title {
  font-size: 32px;
  color: white;
  font-weight: 700;
  margin: 0;
}

.experience .card-subtitle {
  font-size: 22px;
  color: rgb(219, 218, 218);
  margin: 0;
}

.experience .card-img {
  width: 100%;
  /* w-[60%] */
  height: 100%;
  /* h-[60%] */
  object-fit: contain;
}